.gradient-About-penta-b {
    position: relative;
  }
  .gradient-About-penta-b::after {
    content: "";
    position: absolute;
    left: 5%;
    bottom: 0px;
    width: 90%;
    /* margin:0px auto; */
    height: 2px;
    background: #6C6C6C;
    border-radius: 2px;
    pointer-events: none;
    z-index: 20;
  }