@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

/* Satoshi Font */
@font-face {
    font-family: "Satoshi-Light";
    src: url("/fonts/satoshi/Satoshi-Light.woff2") format("woff2"),
        url("/fonts/satoshi/Satoshi-Light.woff") format("woff"),
        url("/fonts/satoshi/Satoshi-Light.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Satoshi-LightItalic";
    src: url("/fonts/satoshi/Satoshi-LightItalic.woff2") format("woff2"),
        url("/fonts/satoshi/Satoshi-LightItalic.woff") format("woff"),
        url("/fonts/satoshi/Satoshi-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: italic;
}
@font-face {
    font-family: "Satoshi-Regular";
    src: url("/fonts/satoshi/Satoshi-Regular.woff2") format("woff2"),
        url("/fonts/satoshi/Satoshi-Regular.woff") format("woff"),
        url("/fonts/satoshi/Satoshi-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Satoshi-Italic";
    src: url("/fonts/satoshi/Satoshi-Italic.woff2") format("woff2"),
        url("/fonts/satoshi/Satoshi-Italic.woff") format("woff"),
        url("/fonts/satoshi/Satoshi-Italic.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}
@font-face {
    font-family: "Satoshi-Medium";
    src: url("/fonts/satoshi/Satoshi-Medium.woff2") format("woff2"),
        url("/fonts/satoshi/Satoshi-Medium.woff") format("woff"),
        url("/fonts/satoshi/Satoshi-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Satoshi-MediumItalic";
    src: url("/fonts/satoshi/Satoshi-MediumItalic.woff2") format("woff2"),
        url("/fonts/satoshi/Satoshi-MediumItalic.woff") format("woff"),
        url("/fonts/satoshi/Satoshi-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: italic;
}
@font-face {
    font-family: "Satoshi-Bold";
    src: url("/fonts/satoshi/Satoshi-Bold.woff2") format("woff2"),
        url("/fonts/satoshi/Satoshi-Bold.woff") format("woff"),
        url("/fonts/satoshi/Satoshi-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Satoshi-BoldItalic";
    src: url("/fonts/satoshi/Satoshi-BoldItalic.woff2") format("woff2"),
        url("/fonts/satoshi/Satoshi-BoldItalic.woff") format("woff"),
        url("/fonts/satoshi/Satoshi-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: italic;
}
@font-face {
    font-family: "Satoshi-Black";
    src: url("/fonts/satoshi/Satoshi-Black.woff2") format("woff2"),
        url("/fonts/satoshi/Satoshi-Black.woff") format("woff"),
        url("/fonts/satoshi/Satoshi-Black.ttf") format("truetype");
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Satoshi-BlackItalic";
    src: url("/fonts/satoshi/Satoshi-BlackItalic.woff2") format("woff2"),
        url("/fonts/satoshi/Satoshi-BlackItalic.woff") format("woff"),
        url("/fonts/satoshi/Satoshi-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-display: swap;
    font-style: italic;
}
/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 900.0;
*
* available axes:
'wght' (range from 300.0 to 900.0
*/
@font-face {
    font-family: "Satoshi-Variable";
    src: url("/fonts/satoshi/Satoshi-Variable.woff2") format("woff2"),
        url("/fonts/satoshi/Satoshi-Variable.woff") format("woff"),
        url("/fonts/satoshi/Satoshi-Variable.ttf") format("truetype");
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
}
/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 900.0;
*
* available axes:
'wght' (range from 300.0 to 900.0
*/
@font-face {
    font-family: "Satoshi-VariableItalic";
    src: url("/fonts/satoshi/Satoshi-VariableItalic.woff2") format("woff2"),
        url("/fonts/satoshi/Satoshi-VariableItalic.woff") format("woff"),
        url("/fonts/satoshi/Satoshi-VariableItalic.ttf") format("truetype");
    font-weight: 300 900;
    font-display: swap;
    font-style: italic;
}

/* Plex Font */

@font-face {
    font-family: "plex-bold";
    src: url("/fonts/IBMPlexSansArabic-Bold.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "plex-regular";
    src: url("/fonts/IBMPlexSansArabic-Regular.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "plex-medium";
    src: url("/fonts/IBMPlexSansArabic-Medium.woff2") format("woff2");
    font-display: swap;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-plex-bold: "plex-bold", sans-serif;
    --font-plex-regular: "plex-regular", sans-serif;
    --font-plex-medium: "plex-medium", sans-serif;
    --font-satoshi-variable: "Satoshi-Variable", sans-serif;
    --font-satoshi-variable-italic: "Satoshi-VariableItalic", sans-serif;
    
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #060b27;
}

::-webkit-scrollbar-thumb {
    background-color: #29e68c;
    border-radius: 5px;
}

/* For Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: #29e68c transparent;
}
::selection {
    background: #29e68c;
    color: #060b27;
}

/* Home page and main component */
.gradient-border-b {
    position: relative;
}
.gradient-border-b::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #166c43 0%, #40f4b1 50%, #166c43 100%);
    border-radius: 2px;
    pointer-events: none;
    z-index: 20;
}

.main-bg-img {
    bottom: -170px;
}

@media (min-height: 950px) {
    .main-bg-img {
        bottom: -50px;
    }
}

.smooth-gradient-transition {
    transition: background 0.7s ease, color 0.7s ease,
        -webkit-text-fill-color 0.7s ease;
}

/* Performance optimizations */
.animate-marquee-desktop,
.animate-marquee-tablet,
.animate-marquee-mobile {
    backface-visibility: hidden;
    perspective: 1000px;
}

/* Add to your globals.css */
@keyframes slideFadeIn {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-slide-fade-in {
    animation: slideFadeIn 0.5s ease-out forwards;
}

@keyframes slideFadeInDelayed {
    0% {
        transform: translateY(80px);
        opacity: 0;
        filter: blur(25px);
    }
    50% {
        transform: translateY(40px);
        opacity: 0.5;
        filter: blur(15px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        filter: blur(0);
    }
}

.animate-slide-fade-in-delayed {
    animation: slideFadeInDelayed 1s ease-out 0.3s forwards;
    will-change: transform, opacity, filter;
}

/* main title */
.hidden-before-view {
    opacity: 0;
    transform: translateX(0);
}

/* Animations */
@keyframes slideLeft {
    0% {
        transform: translateX(-80px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(80px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Animation classes */
.animate-slide-left {
    animation: slideLeft 0.8s ease-out forwards;
}

.animate-slide-right {
    animation: slideRight 0.5s ease-out forwards;
}

/* slide in our services */
@keyframes slideFadeInUp {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideFadeInLeft {
    0% {
        transform: translateX(-50px) translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}

@keyframes slideFadeInRight {
    0% {
        transform: translateX(50px) translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}

.animate-up {
    animation: slideFadeInUp 0.8s ease-out forwards;
}
.animate-left {
    animation: slideFadeInLeft 0.8s ease-out forwards;
}
.animate-right {
    animation: slideFadeInRight 0.8s ease-out forwards;
}
